<div class="container mt-5">
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card text-center h-100">
        <a class="card-body" href="dashboard/categories" role="button">
          <h5 class="card-title">Manage Categories</h5>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center h-100">
        <a class="card-body" href="dashboard/quizzes" role="button">
          <h5 class="card-title">Manage Quizzes</h5>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center h-100">
        <a class="card-body" href="dashboard/questions" role="button">
          <h5 class="card-title">Manage Questions</h5>
        </a>
      </div>
    </div>
  </div>
</div>
